$colour-background: #FFFFFF;
$colour-navborder: #aaaaaa;
$colour-text: #aaaaaa;
$colour-bike: #0b9444;
$colour-car: #e42325;
$colour-iam: #e42325;
$colour-nav-off: #aaaaaa;
$colour-nav-hover: #cfcfcf;
$colour-nav-on: #0b9444;
$colour-button-text: #FFFFFF;
$colour-button: #0b9444;
