#top-nav {
	margin-top: 30px;
	.nav {
		margin: 0;
		li {
			display: table-cell;
			float: none;

			a {
				color: $colour-nav-off;
				font-weight: bold;
				font-size: 14px;
				text-transform: uppercase;
				text-align: center;
				border-left: 1px solid $colour-navborder;
				border-right: 1px solid rgba(0,0,0,.1);
				padding: 5px 25px;
			}
			a:hover {
				color: $colour-nav-hover;
			}
			
			form {
				padding: 10px;
			}
		}

		li:first-child a {
				border-left: 0;
				border-radius: 3px 0 0 3px;
		}
		
		li:last-child a {
			border-right: 0;
			border-radius: 0 3px 3px 0;
		}

		li.inactive {
			a, a:hover {
				color: $colour-nav-on;
				cursor: default;
			}
		}

		li.signin {
			a, a:hover {
				color: $colour-button-text;
				background-color: $colour-button;
				font-weight: normal;
			}
		}
	}
	
	.navbar-collapse {
		padding: 0;
	}
}