#header {
	margin-top: $grid-gutter-width;

	.social-media-links {
		padding-top: 35px;
		list-style: none;

		li {
			padding-left: 25px;
		}
		a, a:hover {
			text-decoration: none;
			font-size: 12px;
		}
	}
	.logo-bike {
		padding-left: 15px;
	}
	.logo-car {
		padding-top: 35px;
	}
	.logo-iam {
		padding-top: 35px;
		padding-right: 15px;
	}
}