// colours
$brand-primary: #0b9444;

$colour-background: #FFFFFF;
$colour-navborder: #aaaaaa;
$colour-text: #aaaaaa;
$colour-bike: #0b9444;
$colour-car: #e42325;
$colour-iam: #e42325;
$colour-nav-off: #aaaaaa;
$colour-nav-hover: #cfcfcf;
$colour-nav-on: $brand-primary;
$colour-button-text: #FFFFFF;
$colour-button: $brand-primary;


$navbar-height: 20px;

